= render(Users::Edit::Layout) do
  .Subhead.my-0
    .Subhead-heading
      = t('.edit_profile')
  .clearfix.d-flex.gutter.flex-shrink-0
    .col-12
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = render "devise/shared/error_messages", resource: resource
        %div
          %dl.form-group
            %dt
              = f.label :name
            %dd
              = f.text_field :name, class: 'form-control'
          %dl.form-group
            %dt
              = f.label :email
            %dd
              = f.email_field :email, autocomplete: "email", class: 'form-control'
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %div.note
              = t('currently_waiting_confirmation_for_email', email: resource.unconfirmed_email)
          %dl.form-group
            %dt
              = f.label :biography
            %dd
              = f.text_area :biography, class: 'form-control', rows: '4'
          %dl.form-group
            %dt
              = f.label :icon
            %dd
              .d-block.position-relative.mb-2
                = resource.icon_image(class: 'avatar mr-1', size: 100)
              = f.file_field :icon, direct_upload: true, accept: 'image/*'
          %p
            = f.submit class: 'btn btn-primary'
  %hr
  .clearfix.d-flex.gutter.flex-shrink-0
    .col-12
      .Subhead.border-bottom-0.mb-0
        %h2.Subhead-heading.Subhead-heading--danger
          = t('.danger_zone')
      .Box.Box--danger
        %ul
          %li.Box-row.d-flex.flex-items-center
            .flex-auto
              %strong
                = t('.cancel_my_account')
              %p.text-small.text-gray-light
                = t('.delete_all_created_projects_and_tracks')
            = button_to t('.cancel_my_account'), registration_path(resource), data: { confirm: t('.are_you_sure') }, method: :delete, class: 'btn btn-danger'
