.col-sm-12.col-md-6.col-lg-6.mx-auto
  .Box
    .Box-header
      %h2.Box-title
        = yield(:title)
    = form_for resource, as: resource_name, url: url, html: local_assigns[:html] do |f|
      = render "devise/shared/error_messages", resource: resource
      .Box-body
        = yield f
      .Box-footer.text-right
        = f.submit yield(:submit), class: 'btn btn-primary'
