= render(Projects::Show::Layout, project: @project) do
  - @tracks_by_date.each do |date, tracks|
    .Box.mb-2.track
      .Box-header
        %h3.Box-title
          = date
      - tracks.group_by(&:owner).each do |owner, ts|
        .Box-body
          = link_to user_overview_path(owner), class: 'link-gray-dark' do
            = owner.icon_image(class: 'avatar mr-1', size: 30)
            %span
              = owner.name
          %ul
            = render partial: 'tracks/track', collection: ts, as: :track
  =render 'layouts/pagination', pagy: @pagy