.col-lg-3.col-md-4.col-12.float-md-left.pr-md-3.pr-xl-6
  .clearfix.mb-2
    .float-left.col-3.col-md-12.pr-3.pr-md-0
      = image_tag "https://via.placeholder.com/150", class: 'avatar width-full height-full'
    .float-left.col-9.col-md-12.pl-2.pl-md-0
      .pt-1.pt-md-3.pb-1.pb-md-3
        %h1
          %span.d-block.overflow-hidden
            = @user.name
        - if policy(@user).update?
          .d-none.d-md-block
            .hide-sm.hide-md
              = link_to 'Edit profile', edit_user_path(@user), class: 'btn btn-block mt-2 mb-3'

.col-lg-9.col-md-8.col-12.float-md-left.pl-md-2
  %nav.UnderlineNav{data: { controller: 'tab', 'tab-index': "0" } }
    .UnderlineNav-body
      %a.UnderlineNav-item(href="#overview"){data: { target: 'tab.item', action: 'tab#selectedItem' }}
        = t('.overview')
      %a.UnderlineNav-item(href="#projects"){data: { target: 'tab.item', action: 'tab#selectedItem' }}
        = t('.project')
        %span.Counter
          = @user.projects.size
  .position-relative
    .mt-4
      %ol.d-flex.flex-wrap.list-style-none.mb-4.gutter-condensed
        - @user.projects.each do |project|
          %li.col-12.col-md-6.col-lg-6.mb-3.d-flex.flex-content-stretch
            .Box.d-flex.p-3.width-full
              .d-flex.width-full.flex-items-center.position-relative
                = link_to project.title, project_path(project), class: 'text-bold flex-auto min-width-0'