= content_for :title do
  = t('.forgot_your_password')

= render 'devise/shared/form_box', url: password_path(resource_name) do |f|
  .Box-body
    %label= f.label :email
    = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control input-block mb-3"
    = f.submit t('devise.passwords.new.send_me_reset_password_instructions'), class: 'btn btn-primary btn-block'
