.col-3.float-left.pr-4
  %nav.menu
    %h3.menu-heading
      = t('components.users.edit.layout.menu.header')
    = link_to_unless (current_path == edit_user_registration_path), t('components.users.edit.layout.profile'), edit_user_registration_path, class: 'menu-item' do
      = link_to t('components.users.edit.layout.profile'), edit_user_registration_path, class: 'menu-item selected', aria: { current: 'page' }
    = link_to_unless (current_path == edit_users_security_path), t('components.users.edit.layout.security'), edit_users_security_path, class: 'menu-item' do
      = link_to t('components.users.edit.layout.security'), edit_users_security_path, class: 'menu-item selected', aria: { current: 'page' }
.col-9.float-left
  = content