%li.col-12.d-flex.width-full.p-4.border-bottom.bg-white
  = project.icon_image(class: 'avatar flex-shrink-0 mr-3', size: 100) 
  .flex-auto.min-width-0
    .d-flex
      %h3.text-normal.flex-auto.pb-1
        = link_to project.title, project
    = simple_format(project.description)
    .d-flex.flex-column.text-small.text-gray
      %span.flex-auto
        = t('.owner_label')
        = link_to project.owner.name, [project.owner, :overview], class: 'muted-link'
      %span.flex-auto
        = t('.updated_at')
        = l(project.updated_at.to_date)
