= render(Projects::Edit::Layout, project: @project) do
  .Subhead.my-0
    .Subhead-heading
      = t('.edit_project')
  .clearfix.d-flex.gutter.flex-shrink-0
    .col-12
      = form_with model: @project, data: { type: 'html', controller: 'form', action: 'ajax:error->form#onSaveFail' } do |f|
        %div{ data: { target: 'form.errors' } }
        %div
          %dl.form-group
            %dt
              = f.label :title
            %dd
              = f.text_field :title, class: 'form-control'
          %dl.form-group
            %dt
              = f.label :icon
            %dd
              .d-block.position-relative.mb-2
                = f.object.icon_image(class: 'avatar mr-1', size: 100)
              = f.file_field :icon, direct_upload: true, accept: 'image/*'
          %p
            = f.submit class: 'btn btn-primary'
            = link_to t('.back'), project_path(@project), class: 'btn-link ml-1'
  %hr
  .clearfix.d-flex.gutter.flex-shrink-0
    .col-12
      .Subhead.border-bottom-0.mb-0
        %h2.Subhead-heading.Subhead-heading--danger
          = t('.danger_zone')
      .Box.Box--danger
        %ul
          %li.Box-row.d-flex.flex-items-center
            .flex-auto
              %strong
                = t('.cancel_project')
              %p.text-small.text-gray-light
                = t('.delete_all_created_tracks')
            = button_to t('.cancel'), project_path(@project), data: { confirm: t('.are_you_sure') }, method: :delete, class: 'btn btn-danger'
