.col-sm-12.col-md-6.col-lg-6.mx-auto
  .Box
    .Box-header
      %h2.Box-title
        = t('.create_new_project')
    = form_with model: @project, data: { type: 'html', controller: 'form', action: 'ajax:error->form#onSaveFail' } do |f|
      .Box-body
        .m-1{ data: { target: 'form.errors' } }
        %dl.form-group
          %dt
            %label= f.label :title
          %dd
            = f.text_field :title, autofocus: true, autocomplete: "title", class: "form-control input-block width-full"
        %dl.form-group
          %dt
            %label= f.label :description
          %dd
            = f.text_area :description, class: 'form-control', cols: '4'
        %dl.form-group
          %dt
            = f.label :icon
          %dd
            = f.file_field :icon, direct_upload: true, accept: 'image/*'
        %dl.form-group
          %dt
            = f.label :tag_names
          %dd
            = f.text_field :tag_names, class: "form-control input-block width-full"
      .Box-footer.text-right
        = f.submit t('.submit'), class: 'btn btn-primary'
