%nav.UnderlineNav
  .UnderlineNav-body
    = link_to_unless (current_path == user_overview_path(@user)), t('components.users.show.navigation.overview'), user_overview_path(@user), class: 'UnderlineNav-item' do
      %span.UnderlineNav-item.selected
        = t('components.users.show.navigation.overview')

    = link_to_unless (current_path == user_projects_path(@user)), t('components.users.show.navigation.projects'), user_projects_path(@user), class: 'UnderlineNav-item' do
      %span.UnderlineNav-item.selected
        = t('components.users.show.navigation.projects')
        %span.Counter
          = @project_size
