%nav.UnderlineNav
  .UnderlineNav-body
    = link_to_unless_current t('components.users.show.navigation.overview'), user_overview_path(@user), class: 'UnderlineNav-item' do
      %span.UnderlineNav-item.selected
        = t('components.users.show.navigation.overview')

    = link_to_unless (current_path == user_projects_path(@user)), line_nav_item(type: :project), user_projects_path(@user), class: 'UnderlineNav-item' do
      %span.UnderlineNav-item.selected
        = line_nav_item(type: :project)

    = link_to_unless (current_path == user_tracks_path(@user)), line_nav_item(type: :track), user_tracks_path(@user), class: 'UnderlineNav-item' do
      %span.UnderlineNav-item.selected
        = line_nav_item(type: :track)

