= render(Users::Show::Layout, editable: policy(@user).update?, user: @user, current_path: request.path) do
  - if @tracks_by_dates.present?
    %ul.d-flex.flex-wrap.list-style-none
      = render partial: 'users/overviews/track', collection: @tracks_by_dates, as: :tracks_by_date
      %li.col-12
        = render 'layouts/pagination', pagy: @pagy
  - else
    = render(EmptyState, type: :track) do
      - if policy(@user).update?
        %p
          = t("components.empty_state.track.description")

