%header.border-bottom.bg-white
  .container-lg.clearfix.p-2
    .d-flex.flex-items-center.flex-justify-between
      .flex-item-equal
        = link_to '✅ idone', root_path, class: 'h2 text-shadow-light text-gray-dark no-underline'
      - if policy(Track).new?
        .flex-item-equal
          %details.details-reset.details-with-dialog
            %summary.text-gray-dark.d-inline-block
              %span.h2.v-align-middle
                📝
              %span.d-none.d-md-inline-block
                = t('.new_track')
            %details-dialog.anim-fade-in.fast.wide
              .Box.d-flex.flex-column
                %h5.Box-header
                  %span.h2.v-align-middle
                    📝
                  = t('.new_track')
                .Box-body.overflow-auto
                  = render 'tracks/form', track: Track.new(owner_id: current_user.id)
                .Box-footer.text-right
                  %button.btn{type: "button", data: { 'close-dialog': true } }
                    = t('.close_dialog')
      .flex-item-equal
        = link_to projects_path, class: 'text-gray-dark no-underline' do
          %span.h2.v-align-middle
            🗂
          %span.d-none.d-md-inline-block
            = Project.model_name.human
      .flex-item-equal
        = link_to users_path, class: 'text-gray-dark no-underline' do
          %span.h2.v-align-middle
            👥
          %span.d-none.d-md-inline-block
            = User.model_name.human
      .d-flex.flex-justify-end.flex-items-center
        - if user_signed_in?
          %details.dropdown.details-reset.details-overlay.position-relative
            %summary
              = current_user.icon_image(class: 'avatar avatar-small', size: 32)
              %span.d-none.d-md-inline-block
                = current_user.name
              %i{ data: {feather: 'chevron-down'}, style: 'vertical-align: middle' }
            %ul.dropdown-menu.dropdown-menu-sw.position-absolute.right-0
              %li
                = link_to new_project_path, class: 'dropdown-item' do
                  %i{ data: { feather: 'plus-square' }, style: 'vertical-align: middle' }
                  %span.text-small
                    = t('.create_new_project')
              %li
                = link_to edit_user_registration_path, class: 'dropdown-item' do
                  %i{ data: { feather: 'settings' }, style: 'vertical-align: middle' }
                  %span.text-small
                    = t('.setting')
              %li
                = link_to destroy_user_session_path, class: 'dropdown-item', method: :delete do
                  %i{ data: { feather: 'log-out' }, style: 'vertical-align: middle' }
                  %span.text-small
                    = t('.sign_out')
        - else
          = link_to t('.sign_in'), new_user_session_path, class: 'btn mr-1', role: 'button'
          = link_to t('.sign_up'), new_user_registration_path, class: 'btn btn-primary'
